/* header */
.container {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    padding-top: 98.4px;
    justify-content: space-between;
  
}

header {
    background-color: #ffffff;
    padding: 24px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    max-width: inherit;
    width: inherit;
    z-index: 1;
}

.header_ul {
    display: flex;
    column-gap: 36px;
    justify-content: space-between;
}

.header_li1 {
    display: none;
    display: flex;
    align-items: center;
    padding: 0 295px 0px 0px;
    color: #000;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 900;
line-height: 32px; /* 133.333% */
letter-spacing: -0.44px;
text-transform: uppercase;
}

.header_li {
    color: #000;
    font-size: 16px;                               
    font-style: normal;
    font-weight: 500;
    padding: 24px;
}

.action{
    border-radius: 32px;
    background: #524A44;
    display: flex;
    height: 48px;
    padding: 12px 18px 12px 19px;
    justify-content: center;
    align-items: center;
}

.link5 {
    padding: 24px 250px 24px 0;
}

/* section1 */
.section {
    background-image: url(../photo/cover.png);
    height: 520px;
    object-fit: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 520px;
    justify-content: space-between;
   
}

.section_h2 {
    align-self: stretch;
    color: #000;
    text-shadow: 3px 3px 4px #FFF;
    font-family: Inter;
    font-size: 56px;
    font-style: normal;
    font-weight: 900;
    margin: 40px auto 30px  400px ;
    justify-content: center;
}

.section_p {
    display: flex;
    width: 20px;
    margin: auto;
    height: 48px;
    padding: 12px 30px 12px 31px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: #FFF;
    background-color: #000;
}
/* .section_1 */

.section_1 {
    width: auto;
    height: 520px;
    flex-shrink: 0;
    background: #000;
    display: flex;
    align-items: center;
}
.section_1_photo{
    padding: 60px 40px  0px 150px  ;
}
.section_p1{
    width: 490px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.1px;
  
}

/* section2 */
.section_p2{
    width: 490px;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.1px;
    padding: 40px 0 0 0 ;
}
/* section3 */
.section_3 {
    padding: 80px 150px;
  }
  .section_3_article {
    display: flex;
    column-gap: 30px;
  }
  .section_3_div {
    background: #e3dad8;
  }
  .section_3_div_head {
    display: flex;
    align-items: center;
    column-gap: 16px;
    margin-bottom: 16px;
  }
  .section_3_title {
  
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
  }
  .section_3_text {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1px;
  }
  /* footer */
  footer {
    padding: 96px 150px;
    background: #000;
    display: flex;
    justify-content: space-between;
  }
  .a_text{
color: #e3dad8;
  }
  .footer_logo {
    width: 87px;
    height: 27px;
  }
  .footer_nav_div {
    display: flex;
    justify-content: space-between;
    width: calc(380 / 1140 * 100%);
  }
  
  .h5{
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin-bottom: 16px;
  }
  .footer_list_a {
    color: #fff;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
  .contact_div {
    width: calc(214 / 1140 * 100%);
  }
  .cont_title {
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin-bottom: 24px;
  }
  .footer_contact_text {
    color: #fff;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    opacity: 0.4;
  }